

<div style="text-align: center">
    <head>
        <title>Creación de notas</title>
      </head>
      <body>
        <form>
          <label for="txtNuNota">N* de nota:</label>
          <input id="txtNuNota" name="txtNuNota" [(ngModel)]="persona.id" type="text">
          <label for="txtNombre">Nombre:</label>
          <input id="txtNombre" name="txtNombre" [(ngModel)]="persona.name" type="text">
          <label for="txtNota">Nota:</label>
          <input id="txtNota" name="txtNota" [(ngModel)]="persona.nota" type="text">
          <label for="txtFecha">Fecha:</label>
          <input id="txtFecha" name="txtFecha" [(ngModel)]="persona.fecha" type="date">
          <button (click)="savePersona()">Guardar</button> - <button (click)="goListado()">Listado</button>
        </form>
      </body>
          
      
      <br>
<br>
</div>



